<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"

        version="2.5">
    <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->

    <!--xsi:schemaLocation="http://java.sun.com/xml/ns/javaee-->
    <!--http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"-->
    <!--<welcome-file-list>-->
        <!--<welcome-file>home</welcome-file>-->
    <!--</welcome-file-list>-->

    <servlet>
        <servlet-name>StringM</servlet-name>
        <servlet-class>servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StringM</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>result</servlet-name>
        <servlet-class>servlet.ResultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>result</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>resultxml</servlet-name>
        <servlet-class>servlet.XMLServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>resultxml</servlet-name>
        <url-pattern>/result.xml</url-pattern>
    </servlet-mapping>

</web-app>
